@import "./main.css";

* {
  margin: 0;
  padding: 0;
}


body {
  background: var(--skyblue);
}

.search-button {
  background-color: var(--search-button);
  width: 300px;
  max-width: 100%;
  height: 50px;
  margin: 20px auto 0;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.02857em;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border: none;
  color: var(--white);
  font-weight: bold;
  border-radius: 25px;
  margin-bottom: 30px;
}

#user-by-name-tb, #pagination-search {
  display: none;
}

.not-found {
  text-align: center;
  font-size: 35px;
  display: none;

}

.user-info-title {
  padding: 30px 30px 0;
  margin: 0px;
  text-underline-offset: 5px;
  font-size: 30px;
}

.search-button:focus {
  background-color: var(--search-button-hover);
}

.button-like:hover {
  background-color: var(--search-button-hover);
}


.signin-form,
.login-form {
  width: 40%;
  margin: 0 auto;
  background-color: var(--white);
  margin-top: 200px;
  border-radius: 20px;
  padding: 20px;
}

.search-input {
  display: block;
  width: 100%;
  height: 40px;
  text-indent: 10px;
}

.signin-submit,
.login-submit {
  display: block;
  text-align: center;
  height: 40px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid var(--skyblue);
  margin: 0 auto;
}

.error-msg {
  display: none;
  margin: 10px auto;
  color: var(--error);
  font-size: var(--normal-font);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: var(--table-header);
  ;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.button-wrapper button {
  border: none;
  background: none;
  font-size: var(--xl-font);
  color: white;
  margin: 10px;
}

.button-wrapper button:disabled {
  opacity: 0.5;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-top: 60px
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.removeBtn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  color: var(--table-header);
  border: 3px solid var(--table-header);
  background-color: #ffffff;
}

.removeBtn:not([disabled]):hover {
  background-color: var(--table-header);
  color: #ffffff;
}

.removeBtn:disabled {
  opacity: 0.5;
}

.followBtn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  color: var(--success);
  border: 3px solid var(--success);
  background-color: #ffffff;
}

#followers-tb {
  display: none;
}

#followings-tb {
  display: none;
}

.picture-owner {
  text-decoration: none;
  font-weight: bold;
}

.followBtn:not([disabled]):hover {
  background-color: var(--success);
  color: #ffffff;
}

.followBtn:disabled {
  opacity: 0.5;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tablinks {
  width: 50%;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 30px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.tabcontent.show-modal .modal {
  display: block;
}

.tabcontent thead {
  height: 60px;
  color: #ffffff;
  font-size: var(--font-size);
}

.follower-link {
  text-decoration: none;
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  top: 50%;
  transform: translateY(-60%);
  padding: 0;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--error);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-body {
  padding: 2px 16px;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.modal-footer {
  padding: 2px 16px;
  background-color: var(--error);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 20px;
}

/* Like button  */

.button-like {
  background-color: transparent;
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  color: #8a8a8a;
  transition: all ease 0.4s;
  cursor: pointer;
  font-size: var(--font-size);
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}

.user-name {
  display: block;
  font-size: var(--font-size);
  margin-bottom: 7.5px;
  text-underline-offset: 5px;
}

/* ascii wrapper */
.ascii-wrapper {
  background-color: var(--gray);
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  margin-bottom: 50px;
}

.ascii-footer {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .tab {
    margin-top: 50px
  }
}

@media screen and (max-width: 600px) {
  .ascii-footer {
    display: block;
    text-align: center;
  }

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	.tabcontent thead { 
		display: none;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
	}
	
	td:before { 
		position: absolute;
		top: 20px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

  td:nth-of-type(1):before { content: "№"; }
	td:nth-of-type(2):before { content: "Username"; }
	td:nth-of-type(3):before { content: "Link"; }
	td:nth-of-type(4):before { content: "Remove"; }
	td:nth-of-type(5):before { content: "Unfollow"; }
	td:nth-of-type(6):before { content: "Follow"; }

  #followings-tb td:nth-of-type(4):before { content: "Action"; }

}