@import "editor.css";
@import "test.css";
* {
    margin: 0;
    padding: 0;
}

/*  CSS VARIABLES */
:root {
    --sm-font: 10px;
    --md-font: 12px;
    --normal-font: 16px;
    --lg-font: 20px;
    --xl-font: 25px;
    --font: "Roboto, sans-serif";
    --error: #FF0000;
    --success: #4BB543;
    --skyblue: #87CEEB;
    --white: #ffffff;
    --light-gray: #ECF0F1;
    --gray: #D3D3D3;
    --button-height: 40px;
}

body {
    /* background-color: var(--skyblue); */
}

.signin-form,
.login-form {
    width: 40%;
    margin: 0 auto;
    background-color: var(--white);
    margin-top: 200px;
    border-radius: 20px;
    padding: 20px;
}

.signin-label,
.login-label {
    margin-bottom: 5px;
}

.signin-label,
.signin-input,
.login-label,
.login-input {
    display: block;
    width: 100%;
}

.signin-input,
.login-input {
    height: 30px;
    margin-bottom: 20px;
    text-indent: 10px;
}

.signin-submit,
.login-submit {
    display: block;
    text-align: center;
    height: 40px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid var(--skyblue);
    margin: 0 auto;
}

.error-msg {
    display: none;
    margin: 10px auto;
    color: var(--error);
    font-size: var(--normal-font);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #e8d018;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }