  /* For testing purposes only */
  .ascii-wrapper {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 5px;
    background-color: var(--skyblue);
    font-size: 16px;
    letter-spacing: 3px;
    overflow-y: auto;
  }