body {
    background: var(--skyblue);
}

.editor {
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.sections {
    font-family: var(--font);
    background-color: var(--white);
    max-width: 380px;
    height: auto;
    width: 40%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    border-radius: 8px;
    padding: 15px;
    margin: 20px;
}

.menu {
    list-style-type: none;
}

.menu-item {
    display: flex;
    width: 100%;
    position: relative;
}

.menu-button {
    font-size: var(--normal-font);
    height: var(--button-height);
    border: 1px solid var(--skyblue);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--white);
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.menu-select {
    font-size: var(--normal-font);
    height: var(--button-height);
    border: 1px solid var(--skyblue);
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--white);
    margin-bottom: 10px;
    text-indent: 10px;
    padding-right: 10px;
}

.menu-select:focus-visible {
    border: 1px solid var(--skyblue);
}

.menu-button:hover {
    background-color: var(--light-gray);
}

.menu-button:focus {
    background-color: var(--light-gray);
}

.editor-title {
    text-align: center;
    margin-bottom: 15px;
}

.time-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: var(--button-height);
    border: none;
    background-color: var(--skyblue);
}

.timers {
    position: absolute;
    display: none;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    /* right: calc(-100% - 50px); */
    top: 50px;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
    border: 3px solid var(--skyblue);
    /* background-color: var(--light-gray); */
}

.times {
    display: inline-block;
    border: none;
    background-color: var(--white);
    padding: 10px;
}

.times:hover {
    background-color: var(--light-gray);
}

.times:focus {
    background-color: var(--light-gray);
}

.open {
    display: inline-block;
}

.color-palette,
.fill-color {
    position: absolute;
    right: 5px;
    top: 7.5px;
}

.fill-btn:focus {
    cursor: auto;
}

.crosshair-cursor {
    cursor: crosshair;
}

.save {
    display: block;
    background-color: var(--skyblue);
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.ascii-fieldset {
    margin-top: 10px;
    padding: 10px;
    display: block;
}

.ascii-fieldset label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: var(--normal-font);
}

.ascii-fieldset input {
    font-size: var(--normal-font);
    height: 25px;
    width: 100%;
    max-width: 300px;
    text-indent: 10px;
    margin-bottom: 10px;
}

.frame,
.video-frames {
    resize: none;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.frame-label {
    font-size: var(--normal-font);
    height: var(--button-height);
    border: 1px solid var(--skyblue);
    width: 100%;
    border-radius: 10px;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

#new-frame {
    width: 50%;
    margin-left: 1%;
}

#remove-frame {
    width: 49%;
    float: left;
    /* display: inline; */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.editor.show-modal .modal {
    display: block;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    top: 50%;
    transform: translateY(-60%);
    padding: 0;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--error);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-body {
    padding: 2px 16px;
    min-height: 40px;
    display: flex;
    align-items: center;
}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--error);
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 20px;
}

.loaded-video-title {
    display: block;
    text-align: center;
}